
export(classicalModel)
export(jiveMCMC)
export(jiveMake)
export(jivePlot)
export(jiveProc)
export(make.hpfun)
export(plotTraitgram)

importFrom(MASS)
importFrom(ape, vcv)
importFrom(OUwie, OUwie.fixed)
importFrom(geiger, name.check)
importFrom(phytools, getStates)